        <div class="form-group row">
          <label class='col-md-2 radio control-label inline'></label>
          <span class='col-md-1 left-label'>
            Least threatening
          </span>
          <span class='col-md-2 row'>
                <span class='col-md-5'>
                </span>
          </span>
              <span class='col-md-1 right-label'>
                Moat threatening
              </span>
        </div>
