<div class="form-group row">
  <label class='col-md-2 radio control-label inline'></label>
  <span class='col-md-5 row'>
    <div class='buttons-container'>
      <span class='left-label'>
        Least threatening
      </span>
      <span class='right-label'>
        Most threatening
      </span>
    </div>
  </span>
</div>

