<div class='container'>
  <% @ratings.each do |k, v| %>
    <div class='row'>
      <div class='col-md-2'><%= k %></div>
      <div class='col-md-1'><%= v %></div>
    </div>
  <% end %>
  <h4>Recommended words:</h4>
  <% @result.each do |w| %>
    <div class='row'>
      <%= w %>
    </div>
  <% end %>
</div>
