<div class='container'>
  <header class="navbar navbar-default navbar-fixed-top container" role="banner">
    <h3 class='heading-description'>Please provide a threat rating for each word.</h3>
    <h4 class='heading-description'>(How much does each word represent the potential for harm, loss or damage for you?)</h4>
    <%= render('radio_labels') %>
  </header>

  <div>
    <%= form_tag("/application/create", method: "post", class: 'button-form') do %>
      <% @words.each_with_index do |word, n| %>
       <div class="form-group row">
          <label class='col-md-2 radio control-label inline'><%= word %></label>
          <span class='col-md-5 row'>
            <div class='buttons-container'>
              <% 9.times do |n| %>
                  <span style='display:inline-block' class='r-button'><%= radio_button_tag word, n.to_s, false, class: 'form-control no-outline inline' %></span>
              <% end %>
            </div>
          </span>
        </div>
      <% end %>
      <div class='row spacer'></div>
      <div class='row'>
        <div class=col-md-3></div>
        <div class=col-md-7>
          <button type='submit' class='btn btn-primary btn-lg'>Submit</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
